# Aggregating Padas DataFrames

## Performing database-style operations on DataFrames

In [2]:
import pandas as pd

weather = pd.read_csv('data/nyc_weather_2018.csv')
weather.head()

                  date datatype            station attributes  value
0  2018-01-01T00:00:00     PRCP  GHCND:US1CTFR0039       ,,N,    0.0
1  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0015       ,,N,    0.0
2  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0015       ,,N,    0.0
3  2018-01-01T00:00:00     PRCP  GHCND:US1NJBG0017       ,,N,    0.0
4  2018-01-01T00:00:00     SNOW  GHCND:US1NJBG0017       ,,N,    0.0

In [18]:
weather.dtypes

date           object
datatype       object
station        object
attributes     object
value         float64
dtype: object

### Querying DataFrames

In [25]:
snow_data = weather.query('datatype == "SNOW" and value > 0 and station == "GHCND:US1NJBG0017"')
snow_data.head()

                     date datatype            station attributes  value
702   2018-01-04T00:00:00     SNOW  GHCND:US1NJBG0017       ,,N,   10.0
961   2018-01-05T00:00:00     SNOW  GHCND:US1NJBG0017       ,,N,  102.0
1899  2018-01-09T00:00:00     SNOW  GHCND:US1NJBG0017       ,,N,    3.0
3700  2018-01-17T00:00:00     SNOW  GHCND:US1NJBG0017       ,,N,   13.0
3936  2018-01-18T00:00:00     SNOW  GHCND:US1NJBG0017       ,,N,   25.0